.newsletter-tab {
    background-color: rgb(106, 26, 159);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  
  .newsletter-tab p {
    color: white;
    margin-right: 16px;
  }
  
  .newsletter-tab button {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  