.about-container {
    display: flex;
    align-items: center;
  }
  .header{
    padding-bottom: 700px;
  }
  .about-image {
    width: 800px;
    height: 700px;
    padding-bottom: 510px;
    border-radius: 0 10px;
   } 
  
  .about-text {
    margin-left: 20px;
    padding-bottom: 510px; 
    font-size: 30px;
  }
  #about-top{
    font-family: monospace;
    font-weight: lighter;
    font-size: large;
  }
  .custom-button{   display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    position: relative;
    border: solid 2px transparent;
    gap: 6px;
    color: #ffffff;
    background: #08c22e;
    /* background: linear-gradient(white, white) padding-box, linear-gradient(to right, #08c22e, #03a9f4) border-box; */
    border-radius: 10px;}